body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Grupo de forma y controles */
.shape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Cuadrado */
.square {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    cursor: pointer;
}

/* Círculo */
.circle {
    width: 200px;
    height: 200px;
    background-color: #e74c3c;
    border-radius: 50%;
    cursor: pointer;
}
.circulo_hijo {
    background-color: #2ecc71;
}
/* Triángulo equilátero */
.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 174px solid #2ecc71; 
    cursor: pointer;
}

/* Rectángulo */
.rectangle {
    width: 300px;
    height: 200px;
    background-color: #9b59b6;
    cursor: pointer;
}

/* Estilo para la sección de inputs y botones */
.visualizar, .visualizar2, .visualizar3, .visualizar4 {
    display: none;
}
.visualizar.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.visualizar2.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.visualizar3.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.visualizar4.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
